<h2>Visualize Data</h2>

<form id="visualizeForm">
    <div class="form-group">
        <label for="xAxis">X Axis:</label>
        <select id="xAxis" class="form-control">
            <!-- X Axis options will be added dynamically using JavaScript -->
        </select>
    </div>

    <div class="form-group">
        <label for="yAxis">Y Axis:</label>
        <select id="yAxis" class="form-control">
            <!-- Y Axis options will be added dynamically using JavaScript -->
        </select>
    </div>

    <button type="button" class="btn btn-primary" onclick="visualizeData()">Visualize</button>
</form>

<script>

</script>



